html {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    background: transparent;
    padding-top: 15px;
}

.glyphicon-remove {
    color: red;
}

.glyphicon-ok {
    color: green;
}

.container > h1 {
    width: 100%;
    color: black;
}

.build-panel > panel-body {
    max-height: 400px;
    overflow: scroll;
}

.output {
    font-family: "Courier New", Courier, monospace;
}

.output-panelbody {
    height: 400px;
    max-height: 400px;
    overflow: scroll;
}

::-webkit-scrollbar {
    background-color: #fff;
	width: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    border-radius: 8px;
}